<div class="block p-y-0">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 p-t">
            <div class="callout">
                <div class="callout-content">
                    <p><strong>Looking for a bespoke {{ page.title }} service?</strong></p>
                    <p><a href="{{ site.url }}/contact/" title="Book a free consultation">Contact us now</a> for a <strong>free</strong> consultation.</p>
                </div>
                <div class="callout-secondary block-inverse ">
                    <a href="{{ site.url }}/services/" title="Digital Marketing Services">
                        <button class="btn btn-sm btn-primary btn-outline">Call now</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>