<div class="block p-y">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 p-t">
            <div class="callout">
                <div class="callout-content">
                    <h3>{{ page.cta-value }}</h3>
                </div>
                <div class="callout-secondary block-inverse ">
                    <a href="{{ site.url }}/services/" title="Digital Marketing Services">
                        <button class="btn btn-sm btn-primary btn-outline">Call now</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>