<form accept-charset="UTF-8" action="https://formkeep.com/f/2d27a386a2a0" method="POST">
    <input type="hidden" name="utf8" value="✓">
    <!-- <h2 class="text-center m-t-0">Contact us now</h2> -->
    <div class="form-group form-group-lg">
        <label for="inputName">Full Name</label>
        <input type="text" name="name" class="form-control input-lg" id="inputName" placeholder="Your first and last name">
    </div>
    <div class="form-group form-group-lg">
        <label for="inputEmail">Email</label>
        <input type="email" name="email" class="form-control input-lg" id="inputEmail" placeholder="Your email address">
    </div>
    <!-- <div class="form-group form-group-lg">
                            <label for="inputUrl">Website</label>
                            <input type="url" name="url" class="form-control input-lg" id="inputUrl" placeholder="Your website address">
                        </div> -->
    <div class="form-group form-group-lg">
        <label for="inputTelephone">Telephone</label>
        <input type="tel" name="tel" class="form-control input-lg" id="inputTelephone" placeholder="Your best contact number">
    </div>
    <div class="form-group form-group-lg">
        <label for="inputMessage">What can we help you with?</label>
        <textarea type="text" name="text" class="form-control input-lg" id="inputMessage" placeholder=""></textarea>
    </div>
    <div class="checkbox text-center">
        <label>
            <input type="checkbox">Send me free digital marketing insider tips
        </label>
    </div>
    <button type="submit" class="btn btn-info btn-lg center-block">Submit Form</button>
</form>
