<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">&copy; Digital Marketing Specialist Ltd 2014</span>
            <br>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="http://www.twitter.com/tomdavenport"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/digitalmarketingspecialistltd"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://plus.google.com/u/0/b/106924465956294708487/106924465956294708487/"><i class="fa fa-google"></i></a>
                    </li>
                </ul><br>
                <div itemscope itemtype="http://schema.org/LocalBusiness">
                <a itemprop="url" href="http://www.digitalmarketingspecialist.co.uk" title="Digital Marketing Specialist">
                    <div itemprop="name"><strong>Digital Marketing Specialist Ltd</strong>
                    </div>
                </a><br>
                <div itemprop="description">A digital marketing consultancy based in Marlborough, Wiltshire. We build digital marketing systems, increase your conversion rate, and grow your business.</div><br>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress">Elcot Lane</span>, 
                    <span itemprop="addressLocality">Marlborough</span>, 
                    <span itemprop="addressRegion">Wiltshire</span>
                    <br>
                    <span itemprop="postalCode">SN8 2AE</span>, 
                    <span itemprop="addressCountry">United Kingdom</span>
<!-- SCEHMA -->
                    <br>
                    <div itemscope itemtype="http://schema.org/LocalBusiness">
                    <div itemprop="description">A digital marketing consultancy based in Marlborough, Wiltshire.</div>
                            <br>
                        <a itemprop="url" href="http://www.digitalmarketingspecialist.co.uk" title="Digital Marketing Specialist">
                            <div itemprop="name"><strong>Digital Marketing Specialist</strong>
                            </div>
                        </a>
                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">Elcot Lane</span>
                            <br>
                            <span itemprop="addressLocality">Marlborough</span>
                            <br>
                            <span itemprop="addressRegion">Wiltshire</span>
                            <br>
                            <span itemprop="postalCode">SN8 2AE</span>
                            <br>
                            <span itemprop="addressCountry">United Kingdom</span>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>