<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="">

    <title>{{ page.title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script&text=DdigtalMrkengpcSst' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{ page.title }}">
<meta itemprop="description" content="{{page.description}}">
<meta itemprop="image" content="{{site.url}}{{page.image}}">

<!-- Twitter card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{site.twitter}}">
<meta name="twitter:creator" content="@{{site.twitter}}">
<meta name="twitter:title" content="{{page.name}}">
<meta name="twitter:description" content="{{page.description}}">
<meta name="twitter:image" content="{{site.url}}{{page.image}}">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />

<!-- Open Graph data -->
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image" content="{{site.url}}{{page.image}}" />
<meta property="og:description" content="{{page.description}}" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="article:tag" content="{{ page.tags }}" />

    <!-- Hotjar -->
    <script>
    (function(f, b, g) {
        var xo = g.prototype.open,
            xs = g.prototype.send,
            c;
        f.hj = f.hj || function() {
            (f.hj.q = f.hj.q || []).push(arguments)
        };
        f._hjSettings = {
            hjid: 3749,
            hjsv: 2
        };

        function ls() {
            f.hj.documentHtml = b.documentElement.outerHTML;
            c = b.createElement("script");
            c.async = 1;
            c.src = "//static.hotjar.com/c/hotjar-3749.js?sv=2";
            b.getElementsByTagName("head")[0].appendChild(c);
        }
        if (b.readyState === "interactive" || b.readyState === "complete" || b.readyState === "loaded") {
            ls();
        } else {
            if (b.addEventListener) {
                b.addEventListener("DOMContentLoaded", ls, false);
            }
        }
        if (!f._hjPlayback && b.addEventListener) {
            g.prototype.open = function(l, j, m, h, k) {
                this._u = j;
                xo.call(this, l, j, m, h, k)
            };
            g.prototype.send = function(e) {
                var j = this;

                function h() {
                    if (j.readyState === 4) {
                        f.hj("_xhr", j._u, j.status, j.response)
                    }
                }
                this.addEventListener("readystatechange", h, false);
                xs.call(this, e)
            };
        }
    })(window, document, window.XMLHttpRequest);
    </script>

</head>

<body id="page-top" class="index">

    <!-- Header -->
    <!--     <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">You need a</div>
                <div class="intro-heading">Digital Marketing Specialist</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header> -->
