<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="">

    <!-- Typekit -->
<script src="https://use.typekit.net/oxr8ulj.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

  <title>{{ page.title }}</title>
  <!-- meta robots -->
 {% if page.noindex %}
  <meta name="robots" content="noindex" />
 {% endif %}

  <!-- Bootstrap CSS -->

<!--       <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600' rel='stylesheet' type='text/css'> -->
<!--       <link href="{{site.url}}/assets/css/toolkit-startup.css" rel="stylesheet">
      <link href="{{site.url}}/assets/css/application-startup.css" rel="stylesheet">
 -->

      <link href="{{ site.url }}/assets/css/application-startup.css" rel="stylesheet">
      <link href="{{ site.url }}/dist/toolkit-startup.css" rel="stylesheet">


      <!-- <link href="{{site.url}}/dist/toolkit.min.css" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{ page.title }}">
<meta itemprop="description" content="{{ page.description }}">
<meta itemprop="image" content="{{ site.url }}/img/meta/{{ page.metaimage }}">

<!-- Twitter card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.twitter }}">
<meta name="twitter:creator" content="@{{ site.twitter }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="{{ site.url }}/img/meta/{{ page.metaimage }}">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />

<!-- Open Graph data -->
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image" content="{{ site.url }}/img/meta/{{ page.metaimage }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="article:tag" content="{{ page.tags }}" />

</head>

<body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WHQWBJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WHQWBJ');</script>
