<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked">
    <li class="nav-header">Articles</li>
    <li class="active">
      <a href="index.html">Analytics</a>
    </li>
    <li>
      <a href="minimal/index.html">SEO</a>
    </li>
    <li>
      <a href="bold/index.html">Bold</a>
    </li>
    <li class="nav-divider"></li>
    <li class="nav-header">Resources</li>
    <li>
      <a href="docs/index.html">Toolkit</a>
    </li>
    <li>
      <a href="http://getbootstrap.com">Guides</a>
    </li>
  </ul>
</div>

<div class="stage" id="stage">

<nav class="navbar navbar-transparent navbar-fixed-top navbar-padded app-navbar p-t-md">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed p-x-0"
              data-target="#stage" data-toggle="stage" data-distance="-250">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">
        <strong style="background: #fff; padding: 12px; border-radius: 4px; color: #28669F;">
          DMS
        </strong>
      </a>
    </div>
    <div class="navbar-collapse collapse text-uppercase">
      <ul class="nav navbar-nav navbar-right">
        <li >
          <a href="/index.html">Articles</a>
        </li>
        <li >
          <a href="docs/index.html">Resources</a>
        </li>
        <li >
          <a href="minimal/index.html">Services</a>
        </li>
        <li >
          <a href="docs/index.html">Contact</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>