<div class="block container block-secondary">
<!--     <div class="container"> -->
        <div class="text-center m-b-lg">
            <h2 class="text-muted">What companies like yours are saying</h2>
        </div>
        <div class="row col-md-6 p-y p-x-0">
            <blockquote class="pull-quote">
                <img class="img-circle" alt="Natalie Ellis" src="{{ site.url }}/img/clients/natalie-ellis.png">
                <p>“Seriously, I have never in recruitment seen this many incoming leads. No other recruiters that I know get this!”
                </p>
                <cite>Natalie Ellis, Ellis Recruitment</cite>
            </blockquote>
        </div>
        <div class="row col-md-6 p-y p-x-0">
            <blockquote class="pull-quote">
                <img class="img-circle" alt="Pierce Glennie" src="{{ site.url }}/img/clients/pierce-glennie.png">
                <p>"His experience in modern SEO techniques was a big help and we are seeing positive results in search rankings."
                </p>
                <cite>Pierce Glennie, iwoca</cite>
            </blockquote>
        </div>

        <div class="row col-md-6 p-y p-x-0">
            <blockquote class="pull-quote">
                <img class="img-circle" alt="Pierce Glennie" src="{{ site.url }}/img/clients/james-beckwith.png">
                <p>“Tom was brilliant! Not only does he know what he is doing, he can explain it in a way that those of us don't know what we're doing can understand.”
                </p>
                <cite>James Beckwith, Minuteman Press</cite>
            </blockquote>
        </div>

        <div class="row col-md-6 p-y p-x-0">
            <blockquote class="pull-quote">
                <img class="img-circle" alt="Pierce Glennie" src="{{ site.url }}/img/clients/pierce-glennie.png">
                <p>“Tom's strategy for increasing sales on the website has added serious value to our operation. I can’t recommend him highly enough.”
                </p>
                <cite>Neil Latham, Travel Store Direct</cite>
            </blockquote>
        </div>

    <!-- </div> -->
</div>
