<div class="block block-secondary">

    <div class="container">

        <div class="text-center m-b-lg">
          <h6 class="text-muted text-uppercase ">Testimonials</h6>
        </div class="p-b">

        {% include testimonial/ellis.html %}

        <div class="row m-t- m-b-md"><hr></div>

        {% include testimonial/iwoca.html %}

    </div>
</div>

<!-- CTA -->

<!-- <div class="block block-inverse block-inverse-blue p-y text-center navbar-form"> -->
  <!-- <div class="container"> -->
   <!-- <h2 class="p-y-0 m-y-0">Banner content</h2> -->

</div>
