<!-- Dee Set -->
<!-- <div class="container"> -->
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <img class="img-circle center-block p-b" alt="Neil Latham" src="{{ site.url }}/img/clients/neil-latham.png">
            </div>
            <div class="row">
                <img class="center-block m-b-md" src="{{ site.url }}/img/clients/deeset.png" alt="Dee Set logo">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- <h6 class="text-muted text-uppercase">iwoca</h6> -->
            <h3 class="m-t-0 m-b-md">"Tom showed us a strategy for reducing the ad spend and increasing sales. His technical  ability has added serious value to our operation.”</h3>
            <p class="m-b-md text-muted">Neil Latham, Imports Manager, Travel Store Direct</p>
            <!-- <a href="{{ site.url }}/case-study/iwoca" title="Read iwoca's' digital marketing case study" role="button" class="btn btn-primary-outline btn-lg">Read Case Study</a> -->
        </div>
    </div>
<!-- </div> -->
