<div class="block block-secondary app-high-praise p-b-0">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5 col-sm-push-7">
        <h6 class="text-muted text-uppercase">High Praise</h6>
        <h3 class="m-t-0 m-b-md">“Now I have a system for my business which generates incoming leads without me having to lift a finger.”</h3>
        <p class="m-b-md text-muted">Natalie Ellis, founder of Ellis Recruitment</p>
       <!--  <button class="btn btn-primary btn-lg">Read Case Study</button> -->
      </div>
      <div class="col-sm-6 col-sm-pull-5">
        <img src="docs/assets/img/startup-3.jpg">
      </div>
    </div>
  </div>
</div>