<!-- Ellis Recruitment -->
<!-- <div class="container"> -->
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <img class="img-circle center-block p-b" alt="Natalie Ellis" src="{{ site.url }}/img/clients/natalie-ellis.png">
            </div>
            <div class="row">
                <img class="center-block m-b-md" src="{{ site.url }}/img/clients/ellis-recruitment.png" alt="Ellis Recruitment logo">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- <h6 class="text-muted text-uppercase">Ellis Recruitment</h6> -->
            <h3 class="m-t-0 m-b-md">“Now I have a system for my business which generates incoming leads without me having to lift a finger.”</h3>
            <p class="m-b-md text-muted">Natalie Ellis, Director, Ellis Recruitment</p>
            <a href="{{ site.url }}/case-study/ellis-recruitment" title="Read Ellis Recruitment's' digital marketing case study" role="button" class="btn btn-primary-outline btn-lg">Read Case Study</a>
        </div>
    </div>
<!-- </div> -->
