<!-- Ellis Recruitment -->
<!-- <div class="container"> -->
    <div class="row">
        <div class="col-sm-6 p-b-md">
            <div class="row">
                <img class="img-circle center-block" alt="Natalie Ellis" src="{{ site.url }}/img/clients/natalie-ellis.png">
            </div>
            <div class="row">
                <img class="center-block m-b-md" src="{{ site.url }}/img/clients/ellis-recruitment.png" alt="Ellis Recruitment logo">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- <h6 class="text-muted text-uppercase">Ellis Recruitment</h6> -->
            <p class="m-t-0 m-b-md" style="font-size: 28px; line-height: 1.2;">“Now I have a system for my business which generates incoming leads without me having to lift a finger.”</p>
            <p class="m-b-md text-muted">Natalie Ellis, Director, Ellis Recruitment</p>
            <a href="{{ site.url }}/contact/" title="Contact" role="button" class="btn btn-primary-outline m-b-md btn-lg">Contact Us</a>
        </div>
    </div>
<!-- </div> -->