<!-- iwoca -->
<!-- <div class="container"> -->
    <div class="row">
        <div class="col-sm-6 p-b-md">
            <div class="row">
                <img class="img-circle center-block" alt="Pierce Glennie" src="{{ site.url }}/img/clients/pierce-glennie.png">
            </div>
            <div class="row">
                <img class="center-block m-b-md" src="{{ site.url }}/img/clients/iwoca.png" alt="iwoca logo">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- <h6 class="text-muted text-uppercase">iwoca</h6> -->
            <p class="m-t-0 m-b-md" style="font-size: 28px; line-height: 1.2;">"We now have a much broader set of content and have started seeing positive results in search rankings.”</p>
            <p class="m-b-md text-muted">Pierce Glennie, Chief Marketing Officer, iwoca</p>
            <a href="{{ site.url }}/contact/" title="Contact" role="button" class="btn btn-primary-outline btn-lg">Contact Us</a>
        </div>
    </div>
<!-- </div> -->
