<!-- iwoca -->
<!-- <div class="container"> -->
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <img class="img-circle center-block p-b" alt="Pierce Glennie" src="{{ site.url }}/img/clients/pierce-glennie.png">
            </div>
            <div class="row">
                <img class="center-block m-b-md" src="{{ site.url }}/img/clients/iwoca.png" alt="iwoca logo">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- <h6 class="text-muted text-uppercase">iwoca</h6> -->
            <h3 class="m-t-0 m-b-md">"We now have a much broader set of content and have started seeing positive results in search rankings.”</h3>
            <p class="m-b-md text-muted">Pierce Glennie, Chief Marketing Officer, iwoca</p>
            <a href="{{ site.url }}/case-study/iwoca" title="Read iwoca's' digital marketing case study" role="button" class="btn btn-primary-outline btn-lg">Read Case Study</a>
        </div>
    </div>
<!-- </div> -->
