<!-- Minuteman Press -->
<!-- <div class="container"> -->
    <div class="row">
        <div class="col-sm-6">
            <div class="row p-b-md">
                <img class="img-circle center-block" alt="James Beckwith" src="{{ site.url }}/img/clients/james-beckwith.png">
            </div>
            <div class="row">
                <img class="center-block m-b-md" src="{{ site.url }}/img/clients/minuteman-press.png" alt="Minuteman Press logo">
            </div>
        </div>
        <div class="col-sm-6">
            <!-- <h6 class="text-muted text-uppercase">iwoca</h6> -->
            <h3 class="m-t-0 m-b-md">"Tom will help you get quick wins, but also set up medium and long term strategies to effectively market your business.”</h3>
            <p class="m-b-md text-muted">James Beckwith, Managing Director, Minuteman Press Swindon</p>
            <!-- <a href="{{ site.url }}/case-study/iwoca" title="Read iwoca's' digital marketing case study" role="button" class="btn btn-primary-outline btn-lg">Read Case Study</a> -->
        </div>
    </div>
<!-- </div> -->
