<!-- Certification -->
<div class="block block-inverse block-secondary app-code-block">
    <img class="app-graph" src="{{ site.url }}/img/growth.svg" alt="Digital Growth">
    <div class="container">
        <div class="row app-align-center">
            <div class="col-sm-5 col-sm-push-7 hidden-xs">
                <img class="app-iphone" src="{{site.url}}/img/icon/{{ page.certification | slugify }}.png" alt="{{ page.certificationDescription }} Certified" style="width: 100%;">
            </div>
            <div class="col-sm-6 col-sm-pull-5">
                <h6 class="text-muted text-uppercase">Certified specialists</h6>
                <h3 class="m-t-0">Fully qualified digital marketing specialists available to you today.</h3>
                <p class="lead m-b-md text-muted">Save yourself years of training and recruitment. <strong>Hire a specialist</strong> who with the qualifications and experience to make your campaign work from day one.</p>
                <button class="btn btn-primary">
                    Meet our team
                </button>
            </div>
        </div>
    </div>
</div>