<!-- Reporting -->
<div class="block block-secondary app-iphone-block p-y-0">
    <div class="container">
        <div class="row app-align-center">
            <div class="col-sm-5 hidden-xs hidden-sm">
                <img class="app-iphone" src="{{site.url}}/img/phone-analytics.png" alt="Mobile marketing analytics" style="width: 100%;">
            </div>
            <div class="col-md-6 col-md-offset-1 col-sm-12">
                <h6 class="text-muted text-uppercase">Clear  Reports</h6>
                <h3 class="m-t-0">Make informed decisions with historical &amp; real time data.</h3>
                <p class="lead m-b-md">We combine immediate real time events with rich historical data to help answer the toughest questions about retention, growth, and engagement.</p>
                <div class="row hidden-xs">
                    <div class="col-sm-6 m-b-md">
                        <h6 class="m-y-0 p-b-md">24/7 Reporting</h6>
                        <p>See your dashboard on any screen, so your results are available any time, any day, plus monthly director reports.<!--  <a href="#" class="text-primary">Learn more.</a> --></p>
                    </div>
                    <div class="col-sm-6">
                        <h6 class="m-y-0 p-b-md">Complete ROI Data</h6>
                        <p>We show results in context of your other digital marketing activity, so you know how it compares to other online activity.<!--  <a href="#" class="text-primary">Learn more.</a> --></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>