<!-- Testimonial -->
<div class="block block-inverse p-lg" style="background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('http://1.bp.blogspot.com/-HOqwA7TFaKs/VTEGJGnVh4I/AAAAAAAAAFA/wmevGwLImVU/s1600/iwoca%2Bpic.jpg');
    " alt="">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-6 p-x-lg">
            <h6 class="text-muted">Testimonial</h6>
            <p class="lead m-t-md">"Now I have a system for my business which brings in qualified leads without me having to lift a finger."</p>
            <p>Natalie Ellis, Director, Ellis Recruitment</p>
            <button class="btn btn-primary">
                Read the case study
            </button>
        </div>
    </div>
</div>