<!DOCTYPE html>
<html lang="en">
{% include header.html %} {% include nav.html %}
<div class="block">
    <div class="section row">
        <section class="row col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <h1>{{ page.title }}</h1>
            <figure>
                <img src="{{site.url}}/img/analytics-growth.jpg" alt="Growing website traffic with digital marketing">
                <figcaption>Growing website traffic with digital marketing</figcaption>
            </figure>
            <h2>Most digital agencies aren’t marketing experts.</h2>
            <p class="lead">Websites are great, but if your website isn’t rapidly growing your revenue, it isn’t good enough. We only care about growing your <strong>revenue</strong> and <strong>profit</strong> — and proving it.</p>
            <h3>My team is trusted by these amazing companies</h3>
        </section>
    </div>
</div>
<hr> {% include snippet/tom-quote.html %}
<hr> {% include testimonials-small.html %}
<section class="block">
    <h2 class="block-title text-center">More online revenue, the easy way</h2>
    <div class="container">
        <div class="row col-sm-8 col-sm-push-4">
            <h3>Your audience is out there, ready to buy. Every day you don’t fix your digital marketing is another day you’re losing business.</h3>
            <p>I’m a consultant with a track record for helping businesses large and small. I’ve put international websites in the top 1000 most visited in the world. I’ve transformed local businesses. I routinely save large companies <em>hundreds of thousands of pounds</em> with honest, actionable advice.</p>
            <p>My secret? <em>Your problems are easy to fix</em>. Time after time, I see the same problems, and have developed incredible system to flush them out. </p>
            <p>Other “digital marketing agencies” are really web agencies who tack on extra services and hire a cheap 21-year-old to run your online operation. Do you want an amateur to represent you? Or a seasoned pro who can build your online marketing juggernaut?</p>
        </div>
        <div class="row col-sm-4 col-sm-pull-8">
            <img class="img-circle center-block m-b" alt="Tom Davenport" src="{{ site.url }}/img/tom-davenport-round.png">
            <p>Tom Davenport is a digital marketing expert who has been published in many of the world’s leading technology publications&#58;</p>
            <div class="row center-block">
                <div class="col-md-6 m-b"><img src="{{ site.url }}/img/logo/the-guardian.svg" style="width: 100%;" alt="The Guardian logo"></div>
                <div class="col-md-6 m-b"><img src="{{ site.url }}/img/logo/wired.svg" style="width: 100%;" alt="Wired logo"></div>
                <div class="col-md-6 m-b"><img src="{{ site.url }}/img/logo/mit-technology-review.svg" style="width: 100%;" alt="MIT Technology Review logo"></div>
                <div class="col-md-6 m-b"><img class="center-block" src="{{ site.url }}/img/logo/cnet.svg" style="width: 50%;" alt="CNET logo"></div>
            </div>
        </div>
    </div>
</section>
<div class="block">
    <div class="section row">
        <section class="row col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <h2>Meet your brand new digital marketing team</h2>
            <p>I lead a team of world-class experts who are the best in their fields. That includes…</p>
            <ol>
                <li>A web developer for Apple, Facebook and Google</li>
                <li>A lead designer for M&amp;C Saatchi</li>
                <li>An online editor at three Future Publishing</li>
                <li>A digital producer and writer for ITV News</li>
            </ol>
            <p>They are not just colleagues, but friends. I work with the best, because I want you to have the best results. This is the only way to succeed online.</p>
            <h2>Book your private consultation with Tom</h2>
            <p>(Book Now)</p>
            <h2>You’re in the wrong place if…</h2>
            <ol>
                <li>You want to learn how to do digital marketing all by yourself. If so, take a look at my [online digital marketing training courses].</li>
                <li>Your company is slow and unwilling to try innovative new strategies that I’ve proven to work across many industries.</li>
                <li>You want</li>
                <li>You would rather spend £4,500 on the tools and education to have your own team run a campaign that will keep you ahead of the pack.</li>
            </ol>
            <blockquote>
                <p>“Tom was brilliant! Not only does he know what he is doing, he can explain it in a way that those of us who clearly don’t know what we are doing, can understand.”</p>
                <p>James Beckwith, Minuteman Press</p>
            </blockquote>
            <p>Then again, if you want someone to make this easy and get you reliable results as fast as possible, we’re a good fit. You’ll join an elite pool of businesses that are dominating their niche. Are you in?</p>
            <ul>
                <li>Full CTA form</li>
            </ul>
            <p>I have limited space for these full bespoke digital marketing packages. This is a serious, comprehensive package that will change your businesses, and my expert team has limited availability.</p>
            <p>If you’d rather trawl through endless blog tips and drown in tactical hell, go ahead. We both know the solution: give your problems to a marketing specialist who lives and breathes digital, and see the results flow in.</p>
            <p>At the end of the day, we’ll measure success on revenue — not just traffic — and you can take that to the bank.</p>
            <p>Sincerely,</p>
            <h3 class="“signature”">Tom Davenport</h3>
            <h6>Tom Davenport, Director &amp; Lead Consultant, Digital Marketing Specialist</h6>
            <p>P.S. If you came to this site by an advertisement, that means lots of other people are reading this right now. Apply now before your slot is taken.</p>
        </section>
    </div>
</div>
</div>
{% include footer.html %}
