<!DOCTYPE html>
<html lang="en">
{% include header.html %}
<!-- <div class="block block-inverse block-xs-middle"> -->
{% include nav.html %}
<!-- </div> -->
<section class="block p-b-md">
    <div class="container">
        <div class="row m-b-m">
            <div class="col-md-offset-2 col-md-8 m-b-md text-center">
                <h1 class="text-center">{{ page.heading }}</h1>
                {{ content }}
            </div>
            <div class="col-md-6 col-xs-12 p-r-md">
                <!-- <h2>Contact details</h2> -->
                <!-- <div class="row"> -->
                <div itemscope itemtype="http://schema.org/LocalBusiness">
                    <a itemprop="url" href="http://www.digitalmarketingspecialist.co.uk" title="Digital Marketing Specialist">
                        <div itemprop="name">
                            <h3 class="m-t-0">Digital Marketing Specialist Ltd</h3>
                        </div>
                    </a>
                    <p>
                        <span class="icon icon-phone m-r"></span>
                        <a href="tel:+4420 3056 8919" title="Call Digital Marketing Specialist" onClick="ga('send', 'event', 'contact', 'phone');">
                            <span itemprop="telephone">020 3056 8919</span>
                        </a>
                    </p>
                    <p>
                        <span class="icon icon-mail m-r"></span>
                        <a href="mailto:contact@digitalmarketingspecialist.co.uk" title="Email Digital Marketing Specialist" onClick="ga('send', 'event', 'contact', 'email');">
                            <span itemprop="email">contact@digitalmarketingspecialist.co.uk</span>
                        </a>
                    </p>
                    <div itemprop="address">
                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <p>
                                <span class="icon icon-home m-r"></span>
                                <span itemprop="streetAddress">Elcot Lane</span>,
                                <span itemprop="addressLocality">Marlborough</span>,
                                <span itemprop="addressRegion">Wiltshire</span>
                                <span itemprop="postalCode">SN8 2AE</span>
                            </p>
                        </div>
                    </div>
                    <h3>Where do we serve?</h3>
                    <p>Want to meet in person? We're based near Swindon in Wiltshire. This map shows how far we currently travel to meet clients.</p>
                    <iframe class="m-t hidden-xs" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2548940.7157770703!2d-3.95677783471285!3d51.399381251334404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc3fb52b836d4b8be!2sDigital+Marketing+Specialist+Ltd!5e0!3m2!1sen!2suk!4v1447281905306" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            </div>
            <div class="container block-inverse block-inverse-blue col-md-6 col-xs-12 p-y-md p-x-md">
                {% include contact-form.html %}
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-offset-2 col-md-8 m-b-md">

                <h3>Looking to grow your business online?</h3>

                <p>We welcome messages from anyone who'd like to learn about how our digital marketing can grow any business. Fill out the form below and we'll be in contact as soon as possible.</p>

                <h3>Work with us</h3>
                <p>Want to work together? You might be a potential client or collaborator. We want to hear from you.</p>

                <h3>General enquiries</h3>
                <p>Questions? Comments? Any feedback is a big help, and we'll try to return the favour.</p>

                <h3>Press enquiries</h3>
                <p>We regularly comment on digital and technology news for a broad range of news outlets. Let us know if you need a common on any story about digital marketing, online advertising and privacy.</p>

                <p>I look forward to hearing from you soon.</p> -->
                <!-- <p>Sincerely,</p>

                <img src="{{ site.url }}/img/tom-davenport-signature.jpg" alt="Tom Davenport"> -->
            </div>
        </div>
    </div>
</section>
{% include footer.html %}
