]<!DOCTYPE html>
<html lang="en">
{% include header.html %} {% include nav.html %}
<div class="block block-inverse block-fill-height app-header">
    <img class="app-graph" src="{{ site.url }}/img/growth.svg" alt="Digital Growth">
    <div class="block-xs-bottom p-b-lg">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-8">
                    <h1>
                        <img src="{{ site.url }}/img/logo/digital-marketing-specialist-white.svg" style="width: 80%;" alt="Digital Marketing Specialist">
                    </h1>
                    <!-- <h1 class="block-title m-b-sm">{{ page.heading }}</h1> -->
                    <p class="lead m-b-md text-muted">{{ page.subheading }}</p>
                    <a href="http://www.digitalmarketingspecialist.co.uk/contact/" title="Contact">
                        <button class="btn btn-info btn-lg m-r"><span style="color:#1C2B3A">Call us now</span></button>
                    </a>
                    <a href="{{ site.url }}/services/" title="Digital Marketing Services">
                        <button class="btn btn-default btn-lg btn-outline hidden-xs">Choose Service</button>
                    </a>
                    <!-- <button class="btn btn-default btn-lg btn-outline">Learn more</button> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
</div>
