<!DOCTYPE html>
<html lang="en">
<!-- {% assign collection = service %} -->
{% include header.html %} {% include nav.html %}
<div class="block p-b-0">
    <div class="article container">
        <article>
            <div class="text-center">
                <h1>{{ page.title }}</h1>
                <p class="lead">{{ page.description }}</p>
                <div class="row">{% for service in site.[page.collection] %}
                    <div class="col-md-4">
                        <div class="panel">
                            <div class="panel-body p-b-lg">
                                <a href="{{ service.url }}" title="{{ service.service }} Services">
                                    <img src="{{ site.url }}/img/service/{{ service.service | slugify }}.svg" alt="{{ service.title }}" class="img-responsive center-block p-a" style="height: 140px;">
                                    <h2 class="m-y-0">{{ service.service }}</h2>
                                </a>
                                <hr>
                                <p class="text-left">{{ service.description }}</p>
                                <a href="{{ service.url }}" title="Learn more about {{ service.service }} services">
                                    <button type="button" class="btn btn-sm btn-primary-outline">Learn more</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row {% include snippet/body-text-width.html %}">
                    {{ content }}
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 p-t">
                        <div class="callout">
                            <div class="callout-content text-left">
                                <p><strong>Looking for a bespoke marketing service?</strong></p>
                                <p><a href="{{ site.url }}/contact/" title="Book a free consultation">Contact us now</a> for a <strong>free</strong> consultation.</p>
                            </div>
                            <div class="callout-secondary block-inverse ">
                                <a href="{{ site.url }}/services/" title="Digital Marketing Services">
                                    <button class="btn btn-sm btn-primary btn-outline">Call now</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </article>
</div>
{% include footer.html %}
