<!DOCTYPE html>
<html lang="en">
{% include header.html %} {% include nav.html %}
<!-- Heading -->
<div class="block text-center m-t p-b">
    <h1 class="block-title">{{ page.title }}</h1>
</div>
<!-- Value Proposition -->
<div class="block p-y-md">
    <div class="row m-b">
        <div class="col-md-5 col-md-offset-1 p-r">
            <a href="#"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"></a>
        </div>
        <div class="col-md-5 p-l ">
            <p class="lead">{{ page.description }} </p>
            <button class="btn btn-lg btn-info m-t">Buy Now</button>
        </div>
    </div>
    <div class="row">
        <!-- Benefits -->
        <div class="col-sm-5 col-sm-offset-1">
            <ul class="featured-list featured-list-bordered">
                <li class="m-b-md">
                    <div class="featured-list-icon">
                        <span class="icon icon-google-plus"></span>
                    </div>
                    <h3>Google Adwords</h3>
                    <p>
                        Reach prospects in the moment they need you most, on the most powerful ad platform in the world. <a href="#" title="#">Learn More</a>
                    </p>
                </li>
                <li>
                    <div class="featured-list-icon">
                        <span class="icon icon-line-graph"></span>
                    </div>
                    <h3>Fork things</h3>
                    <p>
                        Use github to share things on the internet then change them. Make things better. Free software? But not as in beer. <a href="#" title="#">Learn More</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-sm-5">
            <ul class="featured-list featured-list-bordered">
                <li class="m-b-md">
                    <div class="featured-list-icon">
                        <span class="icon icon-facebook"></span>
                    </div>
                    <h3>Facebook Marketing</h3>
                    <p>
                        Reach thousands of highly targeted prospects on the most powerful ad platform in the world. <a href="#" title="#">Learn More</a>
                    </p>
                </li>
                <li>
                    <div class="featured-list-icon">
                        <span class="icon icon-twitter"></span>
                    </div>
                    <h3>Tweet things</h3>
                    <p>
                        Use twitter to share 140 characters worth of anything you want. Pictures, videos, etc. It doesn't really matter. <a href="#" title="#">Learn More</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!-- Testimonials -->
<div class="block block-inverse text-center">
    <div class="row">
        <div class="col-md-6">
            <blockquote class="pull-quote">
                <img class="img-circle" src="../../assets/img/avatar-mdo.png">
                <p>
                    “They need to stop sleeping on me and get some understanding about this here game I spit!”
                </p>
                <cite>Mark Otto, Huge Nerd</cite>
            </blockquote>
        </div>
        <div class="col-md-6">
            <blockquote class="pull-quote">
                <img class="img-circle" src="../../assets/img/avatar-mdo.png">
                <p>
                    “They need to stop sleeping on me and get some understanding about this here game I spit!”
                </p>
                <cite>Mark Otto, Huge Nerd</cite>
            </blockquote>
        </div>
    </div>
</div>
{% include footer.html %}
