<!DOCTYPE html>
<html lang="en">
{% include header.html %} {% include nav.html %}
<!-- Heading -->
<div class="block text-center m-t p-b">
    <h1 class="block-title">{{ page.title }}</h1>
</div>
<!-- Value Proposition -->
<div class="block p-y-md">
    <div class="row m-b">
        <div class="col-md-5 col-md-offset-1 p-r">
            <a hr class="m-y-0" ef="#"><img src="{{site.url}}/img/service/google-adwords.jpg" alt="Digital Marketing Specialist at the top of Google" class="img-responsive"></a>
        </div>
        <div class="col-md-5 p-l ">
            <p class="lead">{{ page.valueProp }} </p>
            <!-- Callout -->
            <div class="callout">
                <div class="callout-content">
                    <ul class="iconlist">
                        <li>
                            <span class="icon icon-check" style="color: green"></span> Increase traffic
                        </li>
                        <li>
                            <span class="icon icon-check" style="color: green"></span> Higher conversion rate
                        </li>
                        <li>
                            <span class="icon icon-check" style="color: green"></span>Understand ROI
                        </li>
                    </ul>
                </div>
                <div class="callout-secondary block-inverse ">
                    <a href="#pricing" title="{{ page.title }} Pricing">
                        <button class="btn btn-sm btn-info">Order now</button>
                    </a>
                </div>
            </div>
            <!-- Who is this for? -->
            <!-- <h3 class="text-muted">Who is this for?</h3>
            <ul class="text-muted">
                <li>Marketing managers</li>
                <li>Entrepreneurs</li>
                <li>Online shop owners</li>
            </ul> -->
        </div>
    </div>
    <!-- Callout -->
    <!--     <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="callout">
                <div class="callout-content">
                    <strong>Get started now.</strong> Learn more about <span style="text-transform: lowercase">{{page.title}}</span>.
                </div>
                <div class="callout-secondary block-inverse ">
                    <button class="btn btn-sm btn-info">Get started</button>
                </div>
            </div>
        </div>
    </div> -->
</div>

<!--  -->
<div class="block block-bordered">
    <div class="row text-center">
        <div class="col-sm-5 col-sm-offset-1">
            <blockquote class="pull-quote">
                <img class="img-circle" src="../../assets/img/avatar-mdo.png">
                <p>
                    “They need to stop sleeping on me and get some understanding about this here game I spit!”
                </p>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <cite>Mark Otto, Huge Nerd</cite>
            </blockquote>
        </div>
        <div class="col-md-5">
            <blockquote class="pull-quote">
                <img class="img-circle" src="../../assets/img/avatar-mdo.png">
                <p>
                    “They need to stop sleeping on me and get some understanding about this here game I spit!”
                </p>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <cite>Mark Otto, Huge Nerd</cite>
            </blockquote>
        </div>
    </div>
</div>

<!-- Benefits -->
<div class="block block-bordered p-y-md p-x-lg">
    <div class="row">
        <div class="col-sm-6">
            <ul class="featured-list featured-list-bordered">
                <li class="m-b-md">
                    <div class="featured-list-icon">
                        <span class="icon icon-google-plus" style="color: red"></span>
                    </div>
                    <h3>Google Adwords</h3>
                    <p>
                        Reach prospects in the moment they need you most, on the most powerful ad platform in the world. <a hr class="m-y-0" ef="#" title="#">Learn More</a>
                    </p>
                </li>
                <li>
                    <div class="featured-list-icon">
                        <span class="icon icon-line-graph" style="color: orange"></span>
                    </div>
                    <h3>Google Analytics</h3>
                    <p>
                        Use github to share things on the internet then change them. Make things better. Free software? But not as in beer. <a hr class="m-y-0" ef="#" title="#">Learn More</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 m-b-lg">
            <ul class="featured-list featured-list-bordered">
                <li class="m-b-md">
                    <div class="featured-list-icon">
                        <span class="icon icon-facebook" style="color: blue"></span>
                    </div>
                    <h3>Facebook Marketing</h3>
                    <p>
                        Reach thousands of highly targeted prospects on the most powerful ad platform in the world. <a hr class="m-y-0" ef="#" title="#">Learn More</a>
                    </p>
                </li>
                <li>
                    <div class="featured-list-icon">
                        <span class="icon icon-twitter"></span>
                    </div>
                    <h3>Tweet things</h3>
                    <p>
                        Use twitter to share 140 characters worth of anything you want. Pictures, videos, etc. It doesn't really matter. <a hr class="m-y-0" ef="#" title="#">Learn More</a>
                    </p>
                </li>
            </ul>
        </div>
        <!-- Callout -->
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 ">
                <div class="callout">
                    <div class="callout-content">
                        <strong>Get started now.</strong> Learn more about <span style="text-transform: lowercase">{{page.title}}</span>.
                    </div>
                    <div class="callout-secondary block-inverse ">
                        <button class="btn btn-sm btn-primary">Get started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Client banner -->
<div class="block app-ribbon p-y-lg">
    <div class="container text-center">
        <img src="assets/img/startup-4.svg">
        <img src="assets/img/startup-5.svg">
        <img src="assets/img/startup-6.svg">
        <img src="assets/img/startup-7.svg">
        <img src="assets/img/startup-8.svg">
    </div>
</div>
<!-- Demonstrate Value -->
<!-- Reporting -->
<div class="block block-secondary app-iphone-block p-b-0">
    <div class="container">
        <div class="row app-align-center">
            <div class="col-sm-5 hidden-xs">
                <img class="app-iphone" src="{{site.url}}/img/phone-analytics.jpg" alt="Mobile marketing analytics" style="width: 100%;">
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <h6 class="text-muted text-uppercase">Clear  Reports</h6>
                <h3 class="m-t-0">Make informed decisions with historical &amp; real time data.</h3>
                <p class="lead m-b-md">We combine immediate real time events with rich historical data to help answer the toughest questions about retention, growth, and engagement.</p>
                <div class="row hidden-sm">
                    <div class="col-sm-6 m-b-md">
                        <h6 class="m-y-0 p-b-md">24/7 Reporting</h6>
                        <p>See your dashboard on any screen, so your results are available any time, any day, plus monthly director reports.<a href="#" class="text-primary">Learn more.</a></p>
                    </div>
                    <div class="col-sm-6">
                        <h6 class="m-y-0 p-b-md">Complete ROI Data</h6>
                        <p>We show results in context of your other digital marketing activity, so you know how it compares to other online activity. <a href="#" class="text-primary">Learn more</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team -->
<div class="block block-inverse block-secondary app-code-block">
    <img class="app-graph" src="{{ site.url }}/img/growth.svg" alt="Digital Growth">
    <div class="container">
        <div class="row app-align-center">
            <div class="col-sm-5 col-sm-push-7">
                <img class="app-iphone" src="{{site.url}}/img/icon/customer-acquisition-certified.png" alt="Google Adwords Certified" style="width: 100%;">
            </div>
            <div class="col-sm-6 col-sm-pull-5">
                <h6 class="text-muted text-uppercase">Certified specialists</h6>
                <h3 class="m-t-0">Fully qualified figital marketing speciualists available to you today.</h3>
                <p class="lead m-b-md text-muted">Other digital agencies spread themselves across web design, development and marketing, and usually in that order!.</p>
                <p>We focus on digital marketing, and little else. If you need heart surgery, you don’t go to a GP, you go to a specialist. Marketing is the same</p>
                <button class="btn btn-default btn-outline">
                    Meet our team
                </button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="block block-inverse">
    <div class="row">
        <div class="col-sm-6 p-x-lg">
            <h6>What do I get access to?</h6>
            <h3>Certified digital marketing specialists</h3>
            <p>Other digital agencies spread themselves across web design, development and marketing, and usually in that order!</p>
            <p>We focus on digital marketing, and little else. If you need heart surgery, you don’t go to a GP, you go to a specialist. Marketing is the same</p>
            <button class="btn btn-primary-outline">Learn more</button>
        </div>
    </div>
</div> -->
<!-- TEstsimonial -->
<div class="block block-inverse p-lg" style="background-image: url({{ site.url }}/img/testimonial-placeholder.jpg);">
    <div class="row">
        <div class="col-sm-6 p-x-lg m-l-lg">
            <h6>Certified Specialists?</h6>
            <h3>"Now I have a system for my business which brings in qualified leads without me having to lift a finger."</h3>
            <p class="small">Natalie Ellis, Director, Ellis Recruitment</p>
        </div>
    </div>
</div>
<!-- Content -->
<div class="container">
    <div class="row">
        <div class="{% include snippet/body-text-width.html %}">
            {% if center.true %}
            <div class="text-center">{% endif %} {{ content }} {% if center.true %}</div>{% endif %}
        </div>
    </div>
</div>
<!-- pricing -->
<div class=" app-price-plans" id="pricing">
    <div class="container text-center">
        <div class="row p-t-md m-b-lg">
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                <h6 class="text-muted text-uppercase">Business Talk</h6>
                <h3 class="m-t-0">No plans. We just bump your plan whenever you need it.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 p-x m-b-lg">
                <div class="p-x">
                    <h6 class="text-muted text-uppercase m-b">Startup</h6>
                    <img class="m-b" src="assets/img/startup-15.svg">
                    <h1 class="p-t-0">{{ page.price1 }}</h1>
                    <p class="small text-muted">+ VAT</p>
                    <p>{{ page.tier1 }}</p>
                </div>
                <ul class="list-unstyled list-bordered text-left m-y-md">
                    <li class="p-y"><strong>10k</strong> monthly requests</li>
                    <li class="p-y"><strong>9am-5pm</strong> technical supprt</li>
                    <li class="p-y"><strong>Public</strong> API access</li>
                </ul>
                <button class="btn btn-lg btn-primary btn-block">
                    Start <span class="visible-lg-inline">a personal account</span>
                </button>
            </div>
            <div class="col-sm-4 p-x m-b-lg">
                <div class="p-x">
                    <h6 class="text-muted text-uppercase m-b">Small Business</h6>
                    <img class="m-b" src="assets/img/startup-16.svg">
                    <h1>£195</h1>
                    <p class="small text-muted">+ VAT</p>
                    <p>{{ page.tier2 }}</p>
                </div>
                <ul class="list-unstyled list-bordered text-left m-y-md">
                    <li class="p-y"><strong>100k</strong> monthly requests</li>
                    <li class="p-y"><strong>24/7</strong> technical supprt</li>
                    <li class="p-y"><strong>Public</strong> API access</li>
                </ul>
                <button class="btn btn-lg btn-primary btn-block">
                    Start <span class="visible-lg-inline">a business account</span>
                </button>
            </div>
            <div class="col-sm-4 p-x m-b-lg">
                <div class="p-x">
                    <h6 class="text-muted text-uppercase m-b">Corporate</h6>
                    <img class="m-b" src="assets/img/startup-17.svg">
                    <h1>£450</h1>
                    <p class="small text-muted">+ VAT</p>
                    <p>{{ page.tier3 }}</p>
                </div>
                <ul class="list-unstyled list-bordered text-left m-y-md">
                    <li class="p-y"><strong>Unlimited</strong> monthly requests</li>
                    <li class="p-y"><strong>24/7</strong> technical supprt</li>
                    <li class="p-y"><strong>Public & Private</strong> API access</li>
                </ul>
                <button class="btn btn-lg btn-primary btn-block">
                    Start <span class="visible-lg-inline">a corporate account</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Final Callout -->
<div class="block">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 p-t">
            <div class="callout">
                <div class="callout-content">
                    <p><strong>Looking for a bespoke {{ page.title }}?</strong></p>
                    <p><a href="{{ site.url }}/contact/" title="Book a free consultation">Contact us now</a> for a free consultation.</p>
                </div>
                <div class="callout-secondary block-inverse ">
                    <a href="{{ site.url }}/services/" title="Digital Marketing Services">
                        <button class="btn btn-sm btn-primary btn-outline">Other services</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
