<!DOCTYPE html>
<html lang="en">
{% include header.html %} {% include nav.html %}
<!-- Heading -->
<div class="block text-center m-t p-b">
    <h1 class="block-title">{{ page.title }}</h1>
</div>
<!-- Value Proposition -->
<div class="block p-y-md">
    <div class="row m-b">
        <div class="col-md-5 col-md-offset-1 p-r">
            <a hr class="m-y-0" ef="#"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"></a>
        </div>
        <div class="col-md-5 p-l ">
            <p class="lead">{{ page.valueProp }} </p>
            <!-- Callout -->
            <div class="callout">
                <div class="callout-content">
                    <ul class="iconlist">
                        <li>
                            <span class="icon icon-check" style="color: green"></span> Increase traffic
                        </li>
                        <li>
                            <span class="icon icon-check" style="color: green"></span> Higher conversion rate
                        </li>
                        <li>
                            <span class="icon icon-check" style="color: green"></span>Understand ROI
                        </li>
                    </ul>
                </div>
                <div class="callout-secondary block-inverse ">
                    <button class="btn btn-sm btn-info">Get started</button>
                </div>
            </div>
        </div>
    </div>
    <hr class="m-0">
    <!-- Testimonials -->
    <div class="row text-center m-y">
        <div class="col-sm-5 col-sm-offset-1">
            <blockquote class="pull-quote">
                <!-- <img class="img-circle" src="../../assets/img/avatar-mdo.png"> -->
                <p>
                    “They need to stop sleeping on me and get some understanding about this here game I spit!”
                </p>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <cite>Mark Otto, Huge Nerd</cite>
            </blockquote>
        </div>
        <div class="col-md-5">
            <blockquote class="pull-quote">
                <!-- <img class="img-circle" src="../../assets/img/avatar-mdo.png"> -->
                <p>
                    “They need to stop sleeping on me and get some understanding about this here game I spit!”
                </p>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <span class="icon icon-star" style="color: #F0B73F;"></span>
                <cite>Mark Otto, Huge Nerd</cite>
            </blockquote>
        </div>
    </div>
    <!-- Callout -->
    <!--     <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="callout">
                <div class="callout-content">
                    <strong>Get started now.</strong> Learn more about <span style="text-transform: lowercase">{{page.title}}</span>.
                </div>
                <div class="callout-secondary block-inverse ">
                    <button class="btn btn-sm btn-info">Get started</button>
                </div>
            </div>
        </div>
    </div> -->
</div>
<hr class="m-y-0">
<!-- Benefits -->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <ul class="featured-list featured-list-bordered">
                <li class="m-b-md">
                    <div class="featured-list-icon">
                        <span class="icon icon-google-plus"></span>
                    </div>
                    <h3>Google Adwords</h3>
                    <p>
                        Reach prospects in the moment they need you most, on the most powerful ad platform in the world. <a hr class="m-y-0" ef="#" title="#">Learn More</a>
                    </p>
                </li>
                <li>
                    <div class="featured-list-icon">
                        <span class="icon icon-line-graph"></span>
                    </div>
                    <h3>Fork things</h3>
                    <p>
                        Use github to share things on the internet then change them. Make things better. Free software? But not as in beer. <a hr class="m-y-0" ef="#" title="#">Learn More</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 m-b-lg">
            <ul class="featured-list featured-list-bordered">
                <li class="m-b-md">
                    <div class="featured-list-icon">
                        <span class="icon icon-facebook"></span>
                    </div>
                    <h3>Facebook Marketing</h3>
                    <p>
                        Reach thousands of highly targeted prospects on the most powerful ad platform in the world. <a hr class="m-y-0" ef="#" title="#">Learn More</a>
                    </p>
                </li>
                <li>
                    <div class="featured-list-icon">
                        <span class="icon icon-twitter"></span>
                    </div>
                    <h3>Tweet things</h3>
                    <p>
                        Use twitter to share 140 characters worth of anything you want. Pictures, videos, etc. It doesn't really matter. <a hr class="m-y-0" ef="#" title="#">Learn More</a>
                    </p>
                </li>
            </ul>
        </div>
        <!-- Callout -->
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="callout">
                    <div class="callout-content">
                        <strong>Get started now.</strong> Learn more about <span style="text-transform: lowercase">{{page.title}}</span>.
                    </div>
                    <div class="callout-secondary block-inverse ">
                        <button class="btn btn-sm btn-primary">Get started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Demonstrate Value -->
<!-- Team -->
<div class="block">
    <div class="container">
        <div class="row">
            <div class="panel col-sm-6">
                <h6>Easy development</h6>
                <h3>Natural language queries make mining data easy for anyone.</h3>
                <p>Rather than force everyone at your company to learn incredibly difficult terminal commands, we allow anyone to query the data with natural language to return data.</p>
            </div>
            <div class="col-sm-6">
                <img src="{{site.url}}/img/icon/content-marketing-certification.png" alt="{{ page.certificationdescription}}">
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="container">
    <div class="row">
        <div class="{% include snippet/body-text-width.html %}">
            {% if center.true %}
            <div class="text-center">{% endif %} {{ content }} {% if center.true %}</div>{% endif %}
        </div>
    </div>
</div>
<!-- Final Callout -->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 p-t">
        <div class="callout">
            <div class="callout-content">
                <strong>Get started now.</strong> Learn more about <span style="text-transform: lowercase">{{page.title}}</span>.
            </div>
            <div class="callout-secondary block-inverse ">
                <button class="btn btn-sm btn-info">Get started</button>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
